/* div {
 background-color: violet;
 border:1 px solid;
 padding : 200px;
 border-radius: 30px;
 margin: 0auto;

}
.hh{
    color: black;
}
img{
    height: 5%;
    width: 5%;
}
.ww{
    color:white;
}


 */
